extends base

mixin myReviewCard(review)
    .myReviews__card
        .reviews__avatar
            a.reviews__tour(href=`/tour/${review.tour.slug}`)= review.tour.name
        p.reviews__text= review.review
        .reviews__rating
            each star in [1,2,3,4,5]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='/img/icons.svg#icon-star')
        .reviews__change 
            button.review__change.review__edit#review__edit(data-review-id=`${review.id}`) Edit
            button.review__change.review__delete#review__delete(data-review-id=`${review.id}`) Delete

mixin navItem(link, icon, text, active)
  li(class=`${active? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me','settings','Settings', true)
          +navItem('/my-bookings','briefcase','My bookings', false)
          +navItem('/my-reviews','star','My reviews', false)
          //- +navItem('#','credit-card','Billing', false)
        -if (user.role==='admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'map', 'Manage tours')   
              +navItem('#', 'users', 'Manage users')
              +navItem('#', 'star', 'Manage reviews')
              +navItem('#', 'briefcase', 'Manage bookings')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md YOUR Reviews Page
          .myReviews
              each review in reviews
                  +myReviewCard(review)